<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Meal Planner | Recipe </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- group style sheet -->
  <link rel="stylesheet" href="../styles/style.css" media="screen" title="no title" charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
</head>



<nav class="navbar navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand lobster-font" href="./index.html">A-Meal-Zing</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">

          <li><a class="hvr-underline-from-center" href="./meal_planner.html">Meal Planner</a></li>
          <li><a class="hvr-underline-from-center" href="./weekly.html">Weekly</a></li>
          <li><a class="hvr-underline-from-center" href="./after_login_existing.html">Daily</a></li>
          <!-- <li><a href="/views/grocery.html">Grocery list</a></li> -->

          <li class="dropdown"><a class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown" href="#">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- <li><a href="/views/profile.html">Profile</a></li>
           <li><a href="/views/settings.html">Settings</a></li> -->
              <li><a href="#" id="logout">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="container-fluid color-palette">
    <div class="backgrd-col-red1"></div>
    <div class="backgrd-col-orange1"></div>
  </div>
</nav>







<body>
  <div class="container">

    <div class="container ">
      <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2 id="recipe-title"></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div id="recipeimage"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 recipe-container-border p-2">
          <h3>Ingredients</h3>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12">
                <!-- Setting img placeholder for ingredients with text -->

                <div class="text-left" id="ingredient-img">
                </div>

              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="intructions">

              </div>
            </div>
            <div class="row">
              <div id="calories">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../scripts/recipe.js">
  </script>
</body>
<footer class="container-fluid">
  <p class="text-center text-muted">© Copyright 2016 foodplanner</p>
</footer>

</html>
