<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Meal Planner | Weekly </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- group style sheet -->
  <link rel="stylesheet" href="../styles/style.css" media="screen" title="no title" charset="utf-8">
</head>

<body>


  <nav class="navbar navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/views/index.html">Food Planner</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav  pull-right">

          <li><a href="/views/meal_planner.html">Meal Planner</a></li>
          <li><a href="/views/weekly.html">Recipe</a></li>
          <!-- <li><a href="/views/grocery.html">Grocery list</a></li> -->
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/views/profile.html">Profile</a></li>
              <li><a href="/views/settings.html">Settings</a></li>
              <li><a href="login.html">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- content for weekly page -->
  <div class="container">
    <!-- first row -->

    <div class="row" >
      <div class="background-col-light">
        <!--bkgrd-col-->

        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3 class="text-left day">Monday</h3>
          <p>20th Aug</p>
        </div>

        <!-- first row of images -->
        <div class="row">

        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-sm-12 center" >
          <ul class="meal-img-margin-top img-responsive inline-block" alt="Responsive image">
            <li id="weekly-meals">
              <img src="http://placehold.it/100x100"  />
            </li>
            <li>
              <img src="http://placehold.it/100x100" class="meal-img-margin-top img-responsive inline-block" alt="Responsive image" />
            </li>
            <li>
              <img src="http://placehold.it/100x100" class="meal-img-margin-top img-responsive inline-block" alt="Responsive image" />
            </li>
            <li>
              <img src="http://placehold.it/100x100" class="meal-img-margin-top img-responsive inline-block" alt="Responsive image" />
            </li>
            <li>
              <img src="http://placehold.it/100x100" class="meal-img-margin-top img-responsive inline-block" alt="Responsive image" />
            </li>
          </ul>
        </div>


      </div>
    </div>
    <!--bkgrd-col-->

    <!-- new row of day -->
    <div class="row">

      <div class="background-col-yellow">
        <div class="col-lg-4 col-md-14 col-sm-12">
          <h3 class="text-left day" id="day">Tuesday</h3>
          <p id="date">21st Aug</p>

        </div>

        <div class="row">

        <div class="col-lg-9 col-lg-offset-3 col-md-8 col-sm-12 center">
          <ul class="meal-img-margin-top img-responsive inline-block" alt="Responsive image">
            <li id="weekly-meals">
              <img src="http://placehold.it/100x100"  />
            </li>
            <li>
              <img src="http://placehold.it/100x100" class="meal-img-margin-top img-responsive inline-block" alt="Responsive image" />
            </li>
            <li>
              <img src="http://placehold.it/100x100" class="meal-img-margin-top img-responsive inline-block" alt="Responsive image" />
            </li>
            <li>
              <img src="http://placehold.it/100x100" class="meal-img-margin-top img-responsive inline-block" alt="Responsive image" />
            </li>
            <li>
              <img src="http://placehold.it/100x100" class="meal-img-margin-top img-responsive inline-block" alt="Responsive image" />
            </li>
          </ul>
        </div>


      </div>
    </div>
      </div>
    </div>

    </div>
  </div>
  <!-- content for weekly page -->

  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

  <script type="text/javascript" src="../scripts/weekly.js">
  </script>
</body>
<footer><p class="text-center text-muted">© Copyright 2016 foodplanner</p>
</footer>
</html>
