/*general styles*/

body {
  margin-top: 80px;
}
.backgrd-col-white {
  background-color: #fff !important;
}
.backgrd-col-lightblue {
  background-color: rgba(230, 240, 240, 1) !important;
}
.backgrd-col-grey {
  background-color: rgba(174, 189, 199, 1) !important;
}
.backgrd-col-dkblue {
  background-color: rgba(39, 46, 72, 1) !important;
}
.backgrd-col-red {
  background-color: rgba(211, 83, 72, 1) !important;
}
.font-color-red {
  color: rgba(211, 83, 72, 1) !important;
}
.backgrd-col-orange {
  background-color: rgba(249, 198, 128, 1) !important;
}
.backgrd-col-peach {
  background-color: rgba(243, 228, 216, 0.2) !important;
}
.backgrd-col-lightblue1 {
  background-color: rgba(230, 240, 240, 1) !important;
  height: 10px;
}
.backgrd-col-dkblue1 {
  background-color: rgba(39, 46, 72, 1) !important;
  height: 10px;
}
.backgrd-col-red1 {
  background-color: rgba(211, 83, 72, 1) !important;
  height: 10px;
}
.backgrd-col-orange1 {
  background-color: rgba(249, 198, 128, 1) !important;
  height: 10px;
}
.backgrd-col-peach1 {
  background-color: rgba(243, 228, 216, 1) !important;
  height: 10px;
}
.backgrd-col-grey1 {
  background-color: rgba(174, 189, 199, 1) !important;
  height: 10px;
}
.container-fluid, .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.wrapper {
  margin: 0 auto;
}
.lobster-font {
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
}
h3, h4, p, a {
  font-family: 'Raleway', sans-serif;
}
.raleway-font, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: normal;
}
.navbar {
  margin-bottom: 10px !important;
  background-color: white;
}
.navbar-fixed-top {
  border-width: 0 0 0px;
}
.nav> li> a:hover, .nav> li> a:active, .nav.open, .nav .open>a, .nav li.dropdown.open> .dropdown-toggle, .navbar .nav li.dropdown.active> .dropdown-toggle {
  background-color: rgba(249, 198, 128, 0.5);
  font-size: 25px;
  font-family: 'Lobster Two', cursive;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  /*background-color:rgba(249, 198, 128, 0.5)!important;*/
  font-size: 20px;
  font-family: 'Lobster Two', cursive;
  background-image: none !important;
}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.btn:focus, .btn:active {
  outline: none !important;
}

.btn-default {
    color: #2b2b2b;
    background-color: #ffffff;
    border-color: #c7c7cc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: 300;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
}
.btn-default:focus, .btn-default:hover {
    background-color: rgba(211, 83, 72, 1);
    background-position: 0;
    color:white;
    text-shadow: none;
}

.btn-default {
    color: #2b2b2b;
    background-color: transparent;
    background-image:none !important;
    border-color: rgba(243, 228, 216, 1) !important;

}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/Preloader_1.gif') center no-repeat #fff;
}
/*--------------------------------------------------------------------------------------------------------*/


/*login*/

.jumbotron {
  background-color: transparent !important;
}

/*-----------------------------------------------------------------------------------------------------*/


/*signup*/


/*-----------------------------------------------------------------------------------------------------*/


/*index*/

.container {
  margin-top: 20px;
}
.icon-bar {
  color: black;
  border-color: black;
  background-color: black;
}

/* Carousel Styles */

.carousel-indicators .active {
  background-color: #2980b9;
}
.carousel-inner img {
  width: 100%;
  max-height: 460px;
  object-fit: fill;
}
.carousel-control {
  width: 0;
}

/* Carousel Header Styles */

.header-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}
.header-text h2 {
  font-size: 40px;
}
.header-text h2 span {
  background-color: #2980b9;
  padding: 10px;
}
.header-text h3 span {
  background-color: #000;
  padding: 15px;
}
.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}
.btn-theme {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  ;
  border: 2px solid #fff;
  margin-right: 15px;
}
.btn-theme:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.img-responsive {
  margin: 0 auto;
  overflow-x: auto;
}

/*-----------------------------------------------------------------------------------------------------*/


/*after_login_existing*/

.banner-background {
  height: 300px;
  background-color: rgba(243, 228, 216, 0.2)
}
.banner-background h1 {
  margin-top: 80px;
}
.wrap {
  position: relative;
  margin: 3em 0;
}

/*-----------------------------------------------------------------------------------------------------*/


/*after_signup*/

.fav-margin {
  margin-top: -15px;
}
/*after_login*/

.wrap {
  position: relative;
  margin: 3em 0;
}

/*-----------------------------------------------------------------------------------------------------*/


/*meal_planner*/

.border {
  border: 1px solid rgba(211, 211, 211, 0.8)
}
.calander-temp {
  width: 35px;
  height: 25px;
  background-color: lightgrey;
  margin-top: 15px;
}

.mealNumDisplay {
  color: #a6caca;
}
#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 100px;
}

#tabs li {
  float: left;
  margin:  0;
  display: inline-block;

}

#tabs a {
  position: relative;
  background-color: rgba(243, 228, 216, 0.2) !important;

  padding: 1em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: 5px 0 0 0;
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background-color: #D35348 ;
}

#tabs a:focus {
  background-color: rgba(243, 228, 216, 0.2) !important;
}
#tabs #current a,
#tabs #current a::after {
  background: #F3E4D8;
  z-index: 3;
}
#tabs li:hover{
}
#tabs a::after {
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 1em;
  background-color: rgba(211, 83, 72, 1) !important;
  background-color: rgba(243, 228, 216, 0.1) !important;
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;
}
/* vertical calendar frame */

.leftPanel, .rightPanel {
  margin: 0;
  min-height: 1000px;
  padding: 20px;
  background-color: rgba(243, 228, 216, 0.2) !important;
}
.verticalCal {
  width: 95%;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.verDayDisplay {
  font-size: 22px;
  text-transform: uppercase;
}
.verDateDisplay {
  font-size: 16px;
}
.verControls {
  text-align: center;
  margin: 5px 0;
  z-index: 10;
  position: absolute;
  width: 100%;
}
.verPrev {
  position: relative;
  float: left;
  margin-top: -12px;

}
.verNext {
  position: relative;
  float: right;
  margin-top: -12px;
}

/* vertical meals */

.mealNumDisplay {
  color: #a6caca;
}
.verticalMeals {
  text-align: center;
}
.verticalMeals img {
  padding: 5px;
}
.mealCont {
  width: 200px;
  min-height: 200px;
  max-height: 350px;
  overflow-y: auto;
  position: relative;
  margin: 10px auto;
  border: 2px solid rgba(192,192,192,1);
  display: inline-block;
  background-color: white;

}
.addMeal {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 10px auto;
  border: 2px solid #AEBDC7;
  background-color: rgba(230, 240, 240, 0.5);
}
.selectRecipe {
  border: 3px solid #D35348;
}
.selectMeal {
  background-color: #F9C680;
}
a.deleteMeal {
  float: right;
  margin-top: 0;
  margin-right: 0;
  cursor: pointer;
  color: #272E48;
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  line-height: 12px;
}
a.deleteMeal:hover {
  text-decoration: none;
  color: #D35348;
}
.deleteMeal:before {
  content: "×";
}

/*recipe text overlay*/

.hoverContainer {
  width: 200px;
  height: 200px;
  display: inline-block;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}
.hovereffect h2 {
  text-transform: lowercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  line-height: normal;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.hovereffect a, .hovereffect p {
  color: #FFF;
  font-size: 20px;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-decoration: none;
}
.hovereffect i:hover {
  color: #F9C680;
  cursor: pointer;
}

.hovereffect i.recipeFav, .hovereffect i:hover.recipeFav {
  color: #D3534B;
}

/*-----------------------------------------------------------------------------------------------------*/


/*weekly*/

.background-col-light {
  background-color: #E6F0F0;
  padding: 0px 0 30px 30px;
  height: auto;
}
.background-col-yellow {
  background-color: #F9C680;
  padding: 0px 0 30px 30px;
  height: auto;
}
.day {
  text-decoration: underline;
}
.img-thumbnail {
  overflow: hidden;
  object-fit: contain !important;
  padding-right: 10px;
  padding-left: 10px;
}
.thumbnail{
  object-fit: contain !important;

}
.meal-img-margin-top {
  margin-top: 10px;
}
.meal-img-margin-top img {
  max-width: 150px !important;
  max-height: 150px !important;
  border: 0 none;
  display: inline-block;
  vertical-align: middle;
}
.meal-img-margin-top img {
  display: inline-block;
}
.row li {
  width: 33.3%;
  float: left;
  list-style: none;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

/*-----------------------------------------------------------------------------------------------------*/


/*recipe*/

.recipe-container-border {
  border: 1px solid rgba(211, 211, 211, 0.8);
}
/*Setting the ingredient image size*/

.ingredient-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgrey;
}

/*remove border for the indgredien thumbnail*/

.img-thumbnail {
  border: none;
}
#calories {
  font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------------*/

footer {
  margin-top: 20px;
}
